// utils/variables.scss

// Colores
$color-dark: #333;
$color-light: #f1c40f;
$color-background: #000;
$background-color: #e8f5e9;
$button-bg-color: #f1c40f;
$button-bg-hover: #e1b32c;
$font-family: 'Arial', sans-serif;
$footer-bg-color: rgb(23, 23, 24);
$footer-text-color: rgb(188, 148, 28);
$social-icon-color: rgba(171, 171, 169, 0.641);
$social-icon-hover-color: rgba(171, 171, 169, 0.8); // Ajusta según tu preferencia

// Tipografía
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;

// Espaciado
$padding-base: 1rem;
$margin-base: 1rem;
